* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(13, 1fr);
  margin-top: 30px;
}

.grid__bar {
  display: block;
  background: white;
  width: 25px;
  height: 25px;
  border: 1px solid black;
}

.grid__bar .non__empty {
  background-color: greenyellow;
}
